/* @media (max-width: 768px) { */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode-button {
    margin-top: 0.5em;
    text-transform: capitalize;
    border: none;
    padding: 0.3em;
    border-radius: 20px;
    color: aliceblue;
    font-weight: 700;
    background-color: rgb(117, 117, 117);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

body {
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

header {
    align-items: center;
}

.add-story button {
    margin-top: 1em;
    text-transform: capitalize;
    padding: 0.5em;
}

.view {
    text-transform: capitalize;
    margin-top: 1em;
}

.view a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

h2 {
    text-transform: capitalize;
    align-items: center;
    text-align: center;
    margin: 2em;
}

.Upload {
    display: grid;
    grid-template-columns: 1fr;
}

.input {
    align-items: center;
    text-align: center;
}

.input input {
    padding: 0.6em;
    margin: 1em;
}

.profile-pic {
    align-items: center;
    overflow: hidden;
}

.profile-pic img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.img-upload {
    text-align: center;
    margin-top: 1em;
}

.img-upload div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    align-items: center;
}

.content h4 {
    text-align: center;
    align-items: center;
}

#content {
    padding: 0.5em;
    text-align: left;
    align-items: center;
}

.note {
    overflow: hidden;
    margin: 1em;
    align-items: center;
    text-align: center;
}

.post-btn {
    margin-top: 1em;
}

.post-btn {
    padding: 0.5em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1em;
}

.price {
    margin-top: 2em;
}

.margin {
    margin-top: 1em;
}

.price input,
.view {
    padding: 1em;
}